* {
    box-sizing: border-box;
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
}
#AppWrapper {
    display: flex;
    justify-content: center;
    background-color: #f98404;
    color: #f3f4ed;
}
#Content {
    width: 90%;
    max-width: 1200px;
    min-width: 560px;
    min-height: 100vh;
    padding: 1rem 2rem;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    background: #e1701a;
}
#fancy {
    font-family: "Sacramento", sans-serif;
}
