:root {
    font-size: 16px;
}
* {
    box-sizing: border-box;
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
}
#AppWrapper {
    display: flex;
    justify-content: center;
    background-color: #f98404;
    color: #f3f4ed;
}
#Content {
    width: 90%;
    max-width: 1200px;
    min-width: 560px;
    min-height: 100vh;
    padding: 1rem 2rem;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #e1701a;
    border: 2px solid #ffb767;
    border-top: 0;
    border-bottom: 0;
}
#fillspace {
    flex-grow: 1;
}
hr {
    width: 25px;
    border-top: 5px dotted #ffb767;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    /* border-radius: 1rem; */
}
#fancy {
    font-family: "Sacramento", sans-serif;
}
#pair {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
#pair img {
    border-radius: 1rem;
    margin-right: 0.5rem;
}
